* {
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: solid 2px #f7f7f7;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 1px gray;
}

.section-content {
  max-width: 700px;
  min-width: 700px;
}

.nav-btn {
  font-size: 16px;
  padding: 8px 12px;
  background-color: transparent;
  border-radius: 3px;
  border: none;
}

.nav-btn:hover {
  cursor: pointer;
}

.btn-blue {
  background-color: #99a2f1;
  color: white;
}
.btn-white {
  background-color: white;
  color: #99a2f1;
}

.hide {
  display: none;
}

.image-container {
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
}

.image-container > span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: gray;
}

section {
  min-width: 60vw;
  width: 80vw;
  margin: 30px auto;
}

.article-header > p {
  font-size: 18px;
  margin: 10px 0px;
  color: gray;
}

.article-infos {
  display: flex;
  color: gray;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}

.info-btn {
  display: block;
  float: left;
  padding: 5px 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px gray;
  margin: 0px 4px;
  color: gray;
}

.info-btn:hover {
  background-color: #f7f7f7;
}

.text-title {
  font-size: 2em;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin: 25px 0px;
}

.text-subtitle {
  font-size: 20px;
}

.text {
  text-align: justify;
  font-kerning: auto;
  font-size: 19px;
  font-weight: 500;
  margin: 20px 0px;
}
.text > a {
  color: black;
  text-decoration: underline;
  font-weight: 900;
}

blockquote {
  border-left: solid 4px #99a2f1;
  padding-left: 20px;
}

.container-subscribe {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.container-subscribe > input {
  border: solid 1px #99a2f1;
  width: 220px;
}

.container-subscribe > * {
  padding: 10px;
  border-radius: 2px;
}

.paywall {
  background-color: #99a2f1;
  padding: 20px 40px;
  box-shadow: 1px 1px 6px gray;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 35px;
}
.paywall > h1 {
  font-size: 24px;
}
.paywall > p {
  font-size: 18px;
}

.paywall > span {
  font-size: 14px;
}
.paywall > .btn {
  width: 100px;
  margin: 0 auto;
}
.paywall > * {
  margin: 10px 0px;
}

.footer {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #71767b;
  font-weight: 500;
}

.footer > div {
  margin: 10px 0px;
}

.info-footer > p {
  font-size: 14px;
}

.info-footer > p > a {
  color: #71767b;
  text-decoration: underline;
}

.footer-btn {
  padding: 5px 15px;
  background-color: white;
  border: none;
  border-radius: 2px;
  color: #71767b;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 0px 1px gray;
  margin: 0px 5px;
}

.footer-btn:hover {
  background-color: #f5f5f5;
  color: black;
  cursor: pointer;
}
